<p><a href='/dashboard'>Go to Ninja Network</a></p>
<p><a href="/logout" data-method="delete">Logout</a></p>

<h1><%= @user.name.titleize %></h1>
<lable>Description: </lable>
<%= @user.description %>
